#main-title {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    display: block;
}

.active {
    color: red;
}

.non-active {
    text-decoration: none;
    color: blue;
}