header{
    background-color: black;
    @media(max-width: 960px) {
        padding: 0px 20px;
    }
    .header-container {
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .links {
            @media (max-width: 960px){
                font-size: 12px;
                font-weight: 400;
                margin-left: 10px;
            }
            font-size: 20px;
            font-weight: 400;
            margin-left: 20px;
            text-decoration: none;
            color: white;
        }
        //@media (max-width: 400px){
        //    justify-content: center;
        //}
        h1 {
            @media (max-width: 960px){
                font-size: 24px;
            }
            font-size: 32px;
            font-weight: 700;
            line-height: 32.08px;
            color: white;
        }
    }
}